<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.0.0-nightly-00709" targetFramework="net461" />
  <package id="DSharpPlus.CommandsNext" version="4.0.0-nightly-00709" targetFramework="net461" />
  <package id="DSharpPlus.Interactivity" version="4.0.0-nightly-00709" targetFramework="net461" />
  <package id="Emzi0767.Microsoft.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Emzi0767.Microsoft.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Figgle" version="0.3.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.12.0-rc1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0-preview.3.20215.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0-preview.3.20215.2" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="TCAdmin" version="2.0.151" targetFramework="net472" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Oop" version="5.0.0" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net461" />
  <package id="Nito.Cancellation" version="1.0.5" targetFramework="net461" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net461" />
  <package id="Nito.Disposables" version="2.1.0-pre02" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="Sentry" version="2.1.2-beta3" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.1.0" targetFramework="net461" />
  <package id="Sentry.Protocol" version="2.1.2-beta3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="TCAdminWrapper" version="1.0.7" targetFramework="net461" />
</packages>