<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.0.0-nightly-00681" targetFramework="net461" />
  <package id="DSharpPlus.CommandsNext" version="4.0.0-nightly-00681" targetFramework="net461" />
  <package id="DSharpPlus.Interactivity" version="4.0.0-nightly-00681" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.3-alpha0" targetFramework="net461" />
  <package id="Emzi0767.Microsoft.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Emzi0767.Microsoft.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Figgle" version="0.3.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Nexus" version="4.1.5" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.AsyncEx.Oop" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0-pre-06" targetFramework="net461" />
  <package id="Nito.Cancellation" version="1.0.5" targetFramework="net461" />
  <package id="Nito.Collections.Deque" version="1.0.4" targetFramework="net461" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net461" />
  <package id="Quartz" version="3.0.7" targetFramework="net461" />
  <package id="Sentry" version="2.1.0" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.1.0" targetFramework="net461" />
  <package id="Sentry.Protocol" version="2.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.9.1-dev-01154" targetFramework="net461" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="TCAdmin" version="2.0.143" targetFramework="net461" />
  <package id="TCAdminWrapper" version="1.0.5" targetFramework="net461" />
</packages>